#p1{
    color: rgb(222, 167, 95);
    text-align: center;
    text-shadow: 3px 4px blue;
    font-size: 4rem;
    font-family: fantasy;
    box-shadow: inset 1px 10px 20px rgba(255, 231, 19, 0.575);
}

/*primera parte*/

dody{
    background-color: rgb(59, 228, 17);
}
